<div id="main-container" class="row">
  <div id="list-api-div" class="col-md-5">
    <%= partial :api_list, locals: { current: @route } %>
  </div>

  <div id="create-api" class="col-md-7">
    <% if @error.present? %>
      <div class='alert alert-danger'>
        <%= @error.join("<br/>") %>
      </div>
    <% end %>
    <form action="/admin/new", method="post", class="form-horizontal">
      <div class='form-group well url'>
        <label class="col-lg-2 control-label">URL</label>
        <div class='col-lg-10 row'>
          <div class='col-lg-4'>
            <select class='form-control' name="verb">
              <% p @route.verb, @route.pattern, @route.status, @route.response, @route.params %>
              <option value='' <%= @route.verb? ? "" : "selected" %>>SELECT VERB</option>
              <% ApiMockServer::Endpoint::VALID_HTTP_VERBS.each do |verb| %>
                <option value='<%= verb %>' <%= @route.verb == verb ? "selected" : "" %> ><%= verb.upcase %></option>
              <% end %>
            </select>
          </div>
          <div class='col-lg-8'>
            <input type="text" placeholder="URL" class='form-control' name="pattern" value='<%= @route.pattern %>'></input>
          </div>
        </div>
      </div>
      <div class='operations'>
        <a href='javascript:void(0)' id='show-params'>设置参数</a>
        <a href='javascript:void(0)' id='show-status'>设置返回码</a>
      </div>
      <div class='form-group well params' style='display: none'>
        <label class='col-lg-2 control-label'>Parameters</label>
        <div class='col-lg-10 params-value'>
          <div class='col-lg-4'>
            <input type="text" placeholder="NAME" class="form-control" name="params_key[]"></input>
          </div>
          <div class='col-lg-7'>
            <input type="text" placeholder="VALUE" class="form-control" name="params_value[]"></input>
          </div>
          <a href='javascript:void(0)' id='add-params'>添加</a>
        </div>
      </div>
      <div class="form-group well status" style='display: none'>
        <label class='col-lg-2 control-label'>STATUS</label>
        <div class='col-lg-3'>
          <input type='text' placeholder='200' class='form-control' name='status' value='<%= @route.status %>'>
        </div>
      </div>
      <div class="form-group well">
        <label class='col-lg-2 control-label'>Response</label>
        <div class='col-lg-10'>
          <textarea placeholder='ONLY SUPPORT JSON FORMAT' class='prettyprint form-control' cols='10' rows='20' name="response">
            <%= @route.response %>
          </textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-primary">创建这个 API</button>
        </div>
      </div>
    </form>
  </div>
</div>
