<div class="div-container">
      <ul class="breadcrumb">
        <li>
          <a href="/admin/<%= @route.id %>">
            <span class="text text-danger"><%= @route.verb.upcase %></span>
            <strong><%= @route.pattern %></strong>
          </a>
        </li>
        <li><%= @route.category %></li>
          <div class='pull-right dropdown'>
           <a href='javascript:void(0)' class="dropdown-toggle" data-toggle="dropdown">操作<b class="caret"></b></a>
           <div class='dropdown-menu'>
             <li><a href='/admin/<%= @route.id %>/edit'>编辑</a></li>
             <li><a href='/admin/<%= @route.id %>' class='delete'>删除</a></li>
           </div>
           </div>
      </ul>

      <% if @route.params && !@route.params.empty? %>
 <div class="well">
          <div>Params</div>
            <div class='col-md-offset-1'>
              <% @route.params.each do |key, value| %>
 <div class='row'>
                  <div class='col-md-4'>
                    <strong><%= key %>:</strong>
                  </div>
                  <div class='col-md-8'>
                    <%= value %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      <% end %>

      <div id="show-api-response-div" class="well">
        <ul class="nav nav-tabs">
          <li class="nav-label">Response</li>
          <li class="label <%= @route.status.to_s =~ /2\d{2}/ ? 'label-success' : 'label-danger' %>"><%= @route.status %></li>
        </ul>
        <pre class="prettyprint" ref="response-json">
         <%= @route.response %>
        </pre>
      </div>
    </div>
  </div>
